{
    "$schema": "https://www.schemastore.org/prettierrc.json",
    "insertPragma": false,
    "requirePragma": false,
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "experimentalOperatorPosition": "start",
    "experimentalTernaries": true,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "singleQuote": false,
    "semi": true,
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
